html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: white;
  overflow-x: hidden;
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 20px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
  height: 240px;
}
